# Конфигурация базы данных
DATABASE_HOST=localhost     # Хост для базы данных
DATABASE_USER=username      # Имя пользователя базы данных
DATABASE_PASSWORD=password  # Пароль базы данных
DATABASE_NAME=mydatabase    # Имя базы данных

# API-ключи
API_KEY=your_api_key_here # для курса валют
API_KEY_FOR_STOCKS=your_api_key_here # для акций
GITHUB_TOKEN=your_github_token_here